body {
    margin: 0;
    color: #278cee;
    height: 100%;
    background-size: cover;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    font-weight: 400;
    font-style: normal;
}

#title {
    text-shadow: 3px 3px 4px rgb(102, 60, 230);
}
.hero-section {
    background-image: url('images/galaxy.webp');
    background-size: cover;
    padding: 10px 0 40px 0;
    height: 100vh;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.apply-btn {
    background-color: white;
    border: none;
    padding: 5px 10px;
    color: #278cee;;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
}

.span-exploration {
   border-bottom: 4px solid white;
}


